.footer{
    background: black;
    color: white;
    height: 250px;
    position: relative;
    margin-top: -100px;
    clear: both;
    display: flex;
    font-family: 'Lato', sans-serif;
    align-content: center;
}

.footer .footer-section{
    flex: 1;
    padding: 10px;
}


.footer .footer-section ul li a{
    display: block;
    margin-bottom: 30px;
    padding-left: 100px;
    color: white;
    text-decoration:none;
    font-size: 20px;
    transition: all .3s;
}

.footer .footer-section ul li a:hover{
    margin-left: 15px;
    transition: all .3s;
}


h1#logo-text{
    padding: 0px;
}

p#footer{
    margin: 5px;
    padding-left: 00px;
    text-align: left;
    font-weight: normal;
}

img#icon{
    width:50px;
    height:50px;
    padding-left: 60px;
    padding-top: 100px;
    transition: transform .2s;
}

img#icon:hover{
    transform: scale(1.3); 
}