*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(255, 255, 255);
}

.seller-dashboard {
    width: 100%;
}

.seller-dashboard .navbar{
    display: flex;
    align-items: center;
    box-shadow: rgba(32, 62, 126, 0.12) 0px 1px 4px 1px;
}

.seller-dashboard .nav-right {
    margin-left: auto;
    text-align: right;
}

.seller-dashboard .nav-right h3{
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
}

.seller-dashboard .dropbtn {
    border-radius: 30%;
    background-color: #d1cfcf;
    padding: 40px;
    font-size: 16px;
    border: none;
}

.seller-dashboard .dropdown {
    position: relative;
    display: inline-block;
}

.seller-dashboard .dropdown-content {
    border-radius: 20%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.seller-dashboard .dropdown-content a {
    border-radius: 30%;
    color: black;
    padding: 20px 20px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.seller-dashboard .dropdown-content a:hover {background-color: rgb(119, 119, 119);}

.seller-dashboard .dropdown:hover .dropdown-content {display: block;}

.seller-dashboard .content {
    padding: 20px;
    float: right;
    width: 76%;
}

.seller-dashboard .sidebar {
    width: 200px;
    background-color: #b8bb01;
    margin: 10px;
    box-shadow: rgba(17, 8, 68, 0.12) 0px 1px 4px 1px;
    float: left;
    width: 20%;
    min-height: 90vh;
    height: 100%;
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 20px;
}

.seller-dashboard .sidebar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin-top: 100px;
}

.seller-dashboard .sidebar > ul  li {
    cursor: default;
    margin: 10px;
}

.seller-dashboard .sidebar > ul > li {
    padding: 20px 5px;
    border-bottom: 1px solid #b8bb01;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
}

.seller-dashboard .sidebar ul li ul li a {
    border-radius: 10%;
    background-color: #e1ec0e;
    padding: 10px 100px 10px 5px;
    text-align: left;
    color: #000;
    text-decoration: none;
    display:block;
}

.seller-dashboard .sidebar ul li ul li m a {
    border-radius: 10%;
    background-color: #ac3632;
    padding: 10px 100px 10px 5px;
    text-align: left;
    color: rgb(240, 227, 227);
    text-decoration: none;
    display:block;
}
.seller-dashboard .sidebar ul li m a {
    border-radius: 10%;
    background-color: #ac3632;
    padding: 10px 100px 10px 5px;
    text-align: left;
    color: rgb(240, 227, 227);
    text-decoration: none;
    display:block;
}


.seller-dashboard .sidebar ul a{
    padding: 20px 5px;
    text-decoration: none;
    text-align: left;
    color: #000;
    font-weight: bold;
}

.logo{
    padding-left: 70px;
}

.seller-dashboard .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(247, 0, 0, 0.2);
  border-radius: 10%;
  transition: 0.3s;
  padding: 40px 90px;
  fill-opacity: 40%;
  text-align: center;
  text-decoration: none;
  color: #000;
}

#card1 {
  
    background-color: rgba(185, 126, 17, 0.7);
}

#card2 {
    background-color: rgba(11, 82, 168, 0.7);
}

#card3 {
    background-color: rgba(138, 2, 143, 0.7);
}

.card i {
    font-size: 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
