body{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-size: 100%;
	background:radial-gradient(#fff,#bbeeb5 ) ;
}

.head{
	display: flex;
	justify-content: flex-end;
	align-items: left;
	padding: 10px;
}
.logo{
	width: 120px;
	height: 60px;
	margin-right: auto
}

.title{
	font-size: 26px;
	float: left;
	margin-left: 10px;
}


.banner-text h2{
 	font-family: 'Open Sans', sans-serif;
 	margin: 0;
 	font-size: 50px;
 	color: #000;
 	text-align: left;
 }

 .banner-text p{
 	font-family: 'Open Sans', sans-serif;
 	margin: 10px 0px;
 	font-size: 20px;
 	color: red;
 }


form {
	width: 500px;
	border: 2px solid #ccc;
	padding: 30px;
	background: #fff;
	opacity: 0.9;
	border-radius: 15px;

}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 6px;
	margin: 5px auto;
	border-radius: 5px;
}

label {
	color: #444;
	font-size: 18px;
	padding: 5px;
}

button {
	float: right;
	font-size: 18px;
	background: #000;
	padding: 10px 15px;
	color: #fff;
	border-radius: 15px;
	margin-right: 10px;
	border: none;
}

button:hover{
	opacity: .6;
	background-color: red;

}

.error {
   background: #F2DEDE;
   color: #A91111;
   padding: 10px;
   width: 95%;
   border-radius: 10px;
   margin: 10px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 10px;
   margin: 20px auto;
}

.ca {
	font-size: 17px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #009;
}
.ca:hover {
	text-decoration: underline;
	color: red;
} 

.form {
	width: 500px;
	border: 2px solid #ccc;
	background: #fff;
	opacity: 0.9;
	border-radius: 15px;
	position: fixed;
}

.banner-text{
	float: right;
	margin-top: 145px;
	top: 95%;
	transform: translate(-10%, -10%);
	color: rgb(82, 40, 40);
}